.avatar {
  padding: 10px;

  .avatar-item {
    border-radius: 50%;
    border: 1px solid;
    padding: 4px 0 4px 0;
    width: 35px;
    justify-content: center;
    display: inline-flex;
    color: white;
    margin-left: -10px;
  }

  .avatar-item-more {
    border-radius: 50%;
    border: 1px solid lightgrey;
    padding: 4px 0 4px 0;
    width: 35px;
    background-color: lightgrey;
    justify-content: center;
    display: inline-flex;
    margin-left: -10px;
    cursor: pointer;
  }

  .avatar-tooltip {
    width: fit-content;
    background-color: white;
    border: 1px solid grey;
    font-weight: 600;
    color: grey;
    text-align: start;
    border-radius: 6px;
    padding: 10px 10px 0 10px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 30%;
  }

  .avatar-tooltip-list {
    width: fit-content;
    background-color: white;
    border: 1px solid grey;
    font-weight: 600;
    color: grey;
    text-align: start;
    border-radius: 6px;
    padding: 10px 10px 0 10px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    overflow: auto;
    height: fit-content;
    max-height: 400px;

    h5 {
      font-size: 16px;
    }

    .tooltip-list-item {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 12px;

      .tooltip-list-avatar {
        border-radius: 50%;
        border: 1px solid;
        padding: 4px 0 4px 0;
        width: 35px;
        display: flex;
        justify-content: center;
        color: white;
      }

      .tooltip-list-name {
        padding: 6px;
        margin: 0 8px 0 8px;
      }
    }
  }
}
