.navbar-wrapper {
  height: 80px;
  width: 100%;
  padding: 10px;

  .navbar-btn-left {
    padding: 4px;
    justify-content: flex-start;
    display: flex;

    :first-child {
      margin: 0 50px 0 40px;
    }
  }

  .navbar-btn-right {
    padding: 4px;
    justify-content: flex-end;
    display: flex;

    .flow {
      margin-left: 10px;
    }
  }
}
